/* PLACE YOU CUSTOM STYLES IN THIS FILE */
.Hero {
	position: relative;
	text-align: center;
	padding: 1.6rem 0;
	background:
		url(images/global/home/img-homepage-video-poster-16x9-c767ac8c6f4317d82e85a3b1a1f84a40f4ca4a676f5e2bdf4db43774a58de5787bb8b23dea7fafbee0adaadaefaf08925fff57d069170a07971708608f574234.jpg)
		50%;
	background-size: cover;
	overflow: hidden
}

.Hero:after {
	position: absolute;
	content: "";
	top: 100%;
	left: 0;
	right: 0; height : 2px;
	margin: auto;
	background: rgba(153, 204, 255, .2);
	z-index: 1;
	height: 2px;
}

@media ( min-width :640px) {
	.Hero {
		padding: 6.5536rem 0 4.79071rem
	}
}

@media ( min-width :960px) {
	.Hero {
		background: none
	}
}

@media ( min-width :1280px) {
	.Hero {
		padding-top: 178px;
		padding-bottom: calc(200px - 3.50203rem)
	}
}

.Hero .ActionBox {
	padding-top: 0
}

.Hero-videoWrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;	
}

.Hero-video {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

@media ( min-width :960px) {
	.Hero-video {
		display: block
	}
}

@media ( min-width :1920px) {
	.Hero-video {
		width: 100%
	}
}

.Hero-content {
	position: relative
}

.Hero-logo>img {
	max-width: 100%;
	width: auto
}

.Hero-heading small {
	color: #cce6ff
}

@media ( min-width :960px) {
	.Hero-heading small {
		font-size: .85499rem
	}
}